# dependencies
/node_modules
/.pnp
.pnp.js

# backend dependencies
/server/node_modules
/server/uploads

# testing
/coverage

# production
/build
/build.zip

# misc
.DS_Store

# environment variables
.env
.env.*
!.env.example   # keep a safe template file for contributors

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
stderr.log

# temporary files
tmp/

# Ignore all OpenAI test files
test-openai*.js