:root {
  --primary-color: #22354d;
  --secondary-color: #fb6a45;
}

.partner-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 20px auto;
  justify-content: center;
}

.partner-logo {
  height: 50px;
  object-fit: contain;
}
