/* Footer */
footer {
  text-align: center;
  padding: 15px 20px;
  background: #fb6a45;
  color: white;
  background: var(--primary-color, #fb6a45);
}

footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}