/* Main Section */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: calc(100vh - 120px);
  text-align: center;
  padding: 100px 10px;
  gap: 20px;
}

/* Animation Lottie */
.animation-seo{
  width: 100%;
  max-width: 400px;
}

/* Search Box */
.search-box {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  position: relative;
}
.search-box .error-message{
  position: absolute;
  left: 5px;
  bottom: -15px;
  font-size: 10px;
  font-weight: 400;
  color: #ff3333;
}

.search-box input {
  padding: 12px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.search-box button {
  padding: 12px 20px;
  border: none;
  background: #ff8e3a;
  color: #22354d;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.search-box button:hover {
  background: #fb6a45;
  color: white;
}

/* Overview Output */
.results-container{
  width: 100%;
}

.results-container .result-title{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.overview-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overview-wrapper{
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.seo-suggestions,
.seo-score-box{
  width: 100%;
  min-width: 100%;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border-radius: 10px;
  padding: 50px;
  gap: 20px;
}

.seo-suggestions ul{
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
  width: 100%;
}

.seo-suggestions li{
  padding: 10px 20px;
  border-left: 5px solid maroon;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 100%;
  background: white;
  text-align: start;
  border-radius: 5px;
}

.progress-container {
  width: 100%;
  height: 20px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 5px;
}

.progress-fill {
  height: 100%;
  background-color: #fb6a45;
  border-radius: 10px 0 0 10px;
  transition: width 0.2s linear;
}

/* On Page */
.onpage-box{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
}

.onpage-box b{
  font-size: 25px;
  font-weight: 700;
  color: black;
  text-align: start;
}

.onpage-box span{
  font-size: 16px;
  font-weight: 400;
  color: black;
  text-align: start;
}

.onpage-counter-box{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 20px;
}

.onpage-counter-header{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  gap: 5px;
}

.onpage-counter-header h3{
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.onpage-counter-header p{
  font-size: 40px;
  font-weight: 400;
  color: black;
}

.header-list-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px 40px;
  gap: 20px;
}

.header-list-container b{
  font-size: 25px;
  font-weight: 700;
  color: black;
}

.header-list-container ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 10px;
  margin: 0;
}

.header-list-container li{
  text-align: start;
}

.link-summary-container,
.image-summary-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 20px;
}

.link-summary-box,
.image-summary-box{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  gap: 5px;
}

.image-summary-box.image-summary-total{
  border: 1px solid #ccc;
}

.link-summary-box b,
.image-summary-box b{
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.link-summary-box span,
.image-summary-box span{
  font-size: 40px;
  font-weight: 400;
  color: black;
}

.og-box{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px 40px;
  gap: 20px;
}

.og-box b{
  font-size: 25px;
  font-weight: 700;
  color: black;
  text-align: start;
}

.og-box span{
  font-size: 18px;
  font-weight: 400;
  color: black;
  text-align: start;
}

/* Technical SEO */
.seo-technical-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seo-technical-wrapper{
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.seo-technical-box{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  gap: 10px;
}

.seo-technical-meta{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}

.seo-technical-box b {
  font-size: 25px;
  font-weight: 700;
  color: black;
  text-align: start;
}

.seo-technical-box p {
  font-size: 18px;
  font-weight: 400;
  color: black;
  text-align: start;
}
.seo-technical-box a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: black;
  text-align: start;
}

.seo-technical-box a:hover{
  color: #fb6a45;
}

.seo-technical-box ul{
  list-style-type: none;
  margin: none;
}

.seo-technical-box ul li{
  text-align: start;
  padding: 8px 0;
}

/* Content SEO */

.seo-content-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seo-content-wrapper{
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.seo-content-box{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  gap: 10px;
}

.seo-content-meta{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}

.seo-content-box b {
  font-size: 25px;
  font-weight: 700;
  color: black;
  text-align: start;
}

.seo-content-box p {
  font-size: 18px;
  font-weight: 400;
  color: black;
  text-align: start;
}